body{
    background: url("../images/bg1.jpg") no-repeat;
    background-size:auto 1100px;
    background-position-y:10%;
    background-position-x: 37%;
}
.title{
    height: 100px;
    line-height: 100px;
}
.title h1{
    line-height: 60px;
    color: white;
}
.draw{
    background: rgba(99, 200, 195, 0.4);
    border-radius: 20px;
    width: 500px;
    height: 400px;
    margin-top: 100px;
}
.draw p{
    padding: 0 30px;
}
.draw input{
    width: 300px;
    height: 30px;
}
.worn{
    padding: 0 170px !important;
    font-size: 12px;
}
#loginBtn{
    background: #3797c6;
    width: 100px;
    height: 30px;
    color: white;
    vertical-align: center;
    margin: 0 40%;
}